span, div, p, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol, li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-y: visible;
}

.tablet #header {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

#app {
  width: 100%;
  height: 100%;
}

.content {
  min-height: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  position: relative;
}

.page #animationContent {
  padding-top: 50px;
  padding-bottom: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 1420px;
  overflow: hidden;
}

.page .animation_container {
  overflow: scroll;
}

.page {
  height: 100% !important;
}

.animation {
  height: 100%;
  position: relative;
}

.phone #header {
  position: absolute;
  width: 100%;
}
.phone .page #animationContent {
  padding-top: 40px;
  padding-bottom: 0;
}
.phone .page #back-btn {
  position: absolute;
  top: 50px;
}

.lv-application {
  width: 100%;
  height: auto;
}

.layout-auto .page #animationContent {
  height: auto;
}
.phone .layout-auto .page #back-btn {
  position: absolute;
  top: 50px;
}
.layout-auto .content {
  height: auto !important;
}
.layout-auto #app {
  width: 100%;
  height: auto;
}
.layout-auto #footer {
  margin-top: -70px;
  bottom: auto !important;
}
.layout-auto.phone .page #back-btn {
  position: absolute;
  top: 50px;
}
.layout-auto.phone .page #animationContent {
  padding-top: 40px !important;
  padding-bottom: 0;
}
.layout-auto.phone #footer {
  margin-top: auto !important;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  pointer-events: all;
  display: inline-block;
  background: #555;
  padding: 10px 20px 10px 20px;
  border: 1px solid white;
  text-transform: uppercase;
}

.view-home {
  background-color: black;
}
.view-home .skip-btn {
  position: absolute;
  display: block;
  z-index: 10;
  background: black;
  opacity: 0.4;
  right: 0;
  top: 50%;
  cursor: pointer;
  width: 105px;
  text-align: center;
}
.view-home .skip-btn p {
  position: relative;
  float: right;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  font-family: "LouisVuitton-N", sans-serif;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  pointer-events: none;
}
.view-home .arrow-right {
  position: absolute;
  float: left;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid white;
  margin-top: 8px;
  margin-left: 8px;
  pointer-events: none;
}

.view-video {
  position: static;
  top: initial;
  left: initial;
  width: 100%;
  color: black;
  background-color: black;
}

.view-cityguides {
  overflow: scroll;
  background-color: #f7f7f7;
}
.view-cityguides #head {
  padding: 40px;
  max-width: 560px;
  margin: 0 auto;
}
.view-cityguides #logo {
  font-size: 35px;
  font-family: "FuturaPTHeavy-Reg", sans-serif;
  font-size: 21px;
  text-align: center;
  margin: 15px auto;
  color: #4f332e;
}
.view-cityguides .description {
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-size: 14px;
  text-align: center;
  margin: 15px auto;
  color: #4f332e;
}
.view-cityguides #pdf {
  position: relative;
  left: 50%;
  margin: 15 auto;
  opacity: 1;
  color: white;
  background-color: #4f332e;
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Safari */
  transform: translate(-50%, 0);
  margin-bottom: 0;
}
.view-cityguides .arrow-white, .view-cityguides .arrow-white-pdf {
  position: relative;
  float: left;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid white;
  margin-right: 5px;
  margin-top: 4px;
  pointer-events: none;
}
.view-cityguides .arrow-brown, .view-cityguides .arrow-brown-first, .view-cityguides .arrow-brown-second {
  position: relative;
  float: left;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #4f332e;
  margin-right: 5px;
  margin-top: 4px;
  pointer-events: none;
}
.view-cityguides a {
  font-family: "LouisVuitton-N", sans-serif;
  font-size: 12px;
  margin: 0;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.view-cityguides a p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 110px;
  font-weight: bold;
  pointer-events: none;
}
.view-cityguides .btnHeaderFirst {
  position: absolute;
  left: 10px;
  width: 120px;
  background-color: white;
  top: 55px;
  cursor: pointer;
}
.view-cityguides .btnHeaderFirst p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 120px;
  font-weight: normal;
  font-size: 13px;
  pointer-events: none;
}
.view-cityguides .btnHeaderSecond {
  position: absolute;
  left: 10px;
  width: 150px;
  background-color: white;
  top: 100px;
  cursor: pointer;
}
.view-cityguides .btnHeaderSecond p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 150px;
  font-weight: normal;
  font-size: 13px;
}
.view-cityguides .book-container {
  margin-left: 41px;
  margin-top: 0;
}
.view-cityguides .coverflow li {
  width: 120px;
  padding: 3.75px 7.5px;
  display: inline-block;
  vertical-align: bottom;
}
.view-cityguides .coverflow li img {
  display: block;
  width: auto;
  max-height: 120px;
  padding-right: 20px;
  margin: 0 auto;
}
.view-cityguides .coverflow li .city {
  display: block;
  margin: 0 auto 15px auto;
  min-height: 35px;
  font-family: "FuturaPTHeavy-Reg", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.view-book {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}
.view-book .book-container {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-color: #f7f7f7;
}
@media screen and (max-width: 768px) {
  .view-book .book-container {
    width: 100%;
    height: 60%;
    top: 40%;
  }
}
.view-book .content-book {
  position: relative;
  width: 80%;
  margin-left: 10%;
  top: 30%;
  text-align: left;
}
.view-book .content-book h1 {
  font-family: "FuturaPTHeavy-Reg", sans-serif;
  font-size: 32px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #4f332e;
  margin-right: 20%;
}
.view-book .content-book h1 span {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("http://localhost/Fabien/city/deploy/deploy//assets/images/common/badge.png");
  background-size: 50px 50px;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 50px;
  background-position: top;
}
.view-book .content-book p {
  position: relative;
  margin-bottom: 20px;
  font-family: "LouisVuitton-N", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.view-book .content-book .title-book {
  position: relative;
  width: 100%;
  height: 80px;
}
.view-book .slideshow {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .view-book .slideshow {
    width: 100%;
    height: 40%;
    top: 0;
    padding-top: -50px;
  }
}
.view-book .slideshow #slide1 {
  background: url("http://localhost/Fabien/city/deploy/deploy/assets/images/cities/beijing/032105h.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.view-book .slideshow #slide2 {
  background: url("http://localhost/Fabien/city/deploy/deploy/assets/images/cities/beijing/032106h.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.view-book .slideshow #slide3 {
  background: url("http://localhost/Fabien/city/deploy/deploy/assets/images/cities/beijing/032107h.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.view-book .slideshow #slide4 {
  background: url("http://localhost/Fabien/city/deploy/deploy/assets/images/cities/beijing/032109h.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.view-book .arrow-brown, .view-book .arrow-brown-first, .view-book .arrow-brown-second, .view-book .arrow-brown-third, .view-book .arrow-brown-fourth {
  position: relative;
  float: left;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #4f332e;
  margin-right: 5px;
  margin-top: 4px;
  pointer-events: none;
}
.view-book .arrow-brown-fourth {
  margin-top: 5px;
  cursor: pointer;
}
.view-book .arrow-brown-first {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.view-book .btnHeaderFirst {
  position: absolute;
  left: 10px;
  width: 120px;
  background-color: white;
  top: 55px;
  cursor: pointer;
  padding-left: 5px;
}
.view-book .btnHeaderFirst p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 120px;
  font-weight: normal;
  font-size: 13px;
  pointer-events: none;
}
.view-book .btnHeaderSecond {
  position: absolute;
  left: 10px;
  width: 150px;
  background-color: white;
  top: 100px;
  cursor: pointer;
  padding-left: 5px;
}
.view-book .btnHeaderSecond p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 150px;
  font-weight: normal;
  font-size: 13px;
}
.view-book .btnHeaderThird {
  position: absolute;
  left: 10px;
  width: 150px;
  background-color: white;
  top: 150px;
  cursor: pointer;
  padding-left: 5px;
}
.view-book .btnHeaderThird p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 150px;
  font-weight: normal;
  font-size: 13px;
}
.view-book .btnHeaderFourth {
  position: absolute;
  left: 10px;
  width: 150px;
  cursor: pointer;
}
.view-book .btnHeaderFourth p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 150px;
  font-weight: normal;
  font-size: 13px;
}
.view-book .tint {
  position: absolute;
  z-index: 150;
  float: left;
  height: 100%;
  width: 100%;
  margin: 0px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 5px;
  -webkit-animation: fade 24s 18s infinite;
}
.view-book .tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(239, 48, 70, 0.3);
  -webkit-animation: fade 6s infinite;
  animation-delay: -2s;
}

@media screen and (max-width: 768px) {
  .page #animationContent {
    padding-top: 0px;
    padding-bottom: 0;
  }
}

.slide {
  position: absolute;
}

.slide:nth-child(1) {
  -webkit-animation: fade 24s 18s infinite;
  z-index: 100;
}

.slide:nth-child(2) {
  -webkit-animation: fade 24s 12s infinite;
  z-index: 100;
}

.slide:nth-child(3) {
  -webkit-animation: fade 24s 6s infinite;
  z-index: 100;
}

.slide:nth-child(4) {
  -webkit-animation: fade 24s 0s infinite;
  z-index: 100;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  15% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.view-exceptionalcase {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}
.view-exceptionalcase .book-container {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-color: #f7f7f7;
}
@media screen and (max-width: 768px) {
  .view-exceptionalcase .book-container {
    width: 100%;
    height: 60%;
    top: 40%;
  }
}
.view-exceptionalcase .content-book {
  position: relative;
  width: 80%;
  margin-left: 10%;
  top: 30%;
  text-align: left;
}
.view-exceptionalcase .content-book h1 {
  font-family: "FuturaPTHeavy-Reg", sans-serif;
  font-size: 32px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #4f332e;
}
.view-exceptionalcase .content-book h1 span {
  position: absolute;
  width: 80%;
  margin-left: -40%;
  height: 50px;
  background: url("http://localhost/Fabien/city/deploy/deploy//assets/images/common/badge.png");
  background-size: 50px 50px;
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 54px;
  background-position: bottom;
}
.view-exceptionalcase .content-book p {
  position: relative;
  margin-bottom: 20px;
  font-family: "LouisVuitton-N", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #4f332e;
}
.view-exceptionalcase .content-book .title-book {
  position: relative;
  width: 100%;
  height: 120px;
}
.view-exceptionalcase .slideshow {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .view-exceptionalcase .slideshow {
    width: 100%;
    height: 40%;
    top: 0;
    padding-top: -50px;
  }
}
.view-exceptionalcase .slideshow #slideCase {
  background: url("http://localhost/Fabien/city/deploy/deploy/assets/images/cities/exceptional-case/packshot.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.view-exceptionalcase .arrow-brown, .view-exceptionalcase .arrow-brown-first, .view-exceptionalcase .arrow-brown-second, .view-exceptionalcase .arrow-brown-third, .view-exceptionalcase .arrow-brown-fourth {
  position: relative;
  float: left;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #4f332e;
  margin-right: 5px;
  margin-top: 4px;
  pointer-events: none;
}
.view-exceptionalcase .arrow-brown-fourth {
  margin-top: 5px;
  cursor: pointer;
}
.view-exceptionalcase .arrow-brown-first {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.view-exceptionalcase .btnHeaderFirst {
  position: absolute;
  left: 10px;
  width: 120px;
  background-color: white;
  top: 55px;
  cursor: pointer;
  padding-left: 5px;
}
.view-exceptionalcase .btnHeaderFirst p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 120px;
  font-weight: normal;
  font-size: 13px;
  pointer-events: none;
}
.view-exceptionalcase .btnHeaderSecond {
  position: absolute;
  left: 10px;
  width: 150px;
  background-color: white;
  top: 100px;
  cursor: pointer;
  padding-left: 5px;
}
.view-exceptionalcase .btnHeaderSecond p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 150px;
  font-weight: normal;
  font-size: 13px;
}
.view-exceptionalcase .btnHeaderThird {
  position: absolute;
  left: 10px;
  width: 150px;
  background-color: white;
  top: 150px;
  cursor: pointer;
  padding-left: 5px;
}
.view-exceptionalcase .btnHeaderThird p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 150px;
  font-weight: normal;
  font-size: 13px;
}
.view-exceptionalcase .btnHeaderFourth {
  position: absolute;
  left: 10px;
  width: 150px;
  cursor: pointer;
}
.view-exceptionalcase .btnHeaderFourth p {
  position: relative;
  margin: 0;
  padding: 0;
  width: 150px;
  font-weight: normal;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .page #animationContent {
    padding-top: 0px;
    padding-bottom: 0;
  }
}

.slide {
  position: absolute;
}

.view-boxset {
  background-color: brown;
}

.page #back-btn {
  top: 65px;
  /*background-position: 23px 15px;
  background-image: url(http://static.louisvuitton.com/content/dam/lv/online/css/2.15.2.10/images/arrow_left_white.png);
  background-color: transparent;
  color:white;*/
}
