<div view-boxset id="view_boxset" class="view-boxset">


    <div class="book-container" anim-arrow>
        <div class="content-book">
            <div class="title-book">
                <h1><span html="box_set_title"></span></h1>
            </div>
            <p class="description" html="box_set_description"></p>
        </div>
    </div>

    <div class="slideshow">
        <div id="slideCase"></div>
    </div>

    <div class="menu-container">
        <a class="btnHeaderFirst" ng-click="pathTo('cityguides')" ng-mouseenter="arrowMouseOver('arrow-brown-first')"
           ng-mouseleave="arrowMouseOut('arrow-brown-first')">
            <div class="arrow-brown-first"></div>
            <p html="back_wording"></p></a>
        <a class="btnHeaderSecond" ng-click="pathTo('exceptionalcase')"
           ng-mouseenter="arrowMouseOver('arrow-brown-second')" ng-mouseleave="arrowMouseOut('arrow-brown-second')">
            <div class="arrow-brown-second"></div>
            <p html="exceptional_case_wording"></p></a>

    </div>


</div>

