<div view-exceptionalcase id="view_exceptionalcase" class="view-exceptionalcase">


    <div class="book-container" anim-arrow>

        <div class="content-book">
            <div class="title-book">
                <h1><span html="exceptional_case_title"></span></h1>
            </div>

            <p class="description" html="exceptional_case_description"></p>

            <li>

                <a ng-click="moreDetails('{{book_sku}}')">
                    <img src="../deploy/deploy/assets/images/cities/exceptional-case/cta.jpg">
                </a>
                <br/>
                <a class="btnHeaderFourth" ng-click="moreDetails('{{book_sku}}')"
                   ng-mouseenter="arrowMouseOver('arrow-brown-fourth')"
                   ng-mouseleave="arrowMouseOut('arrow-brown-fourth')">
                    <div class="arrow-brown-fourth"></div>

                    <p html="more_wording"></p>
                </a>
            </li>
        </div>


    </div>


    <div class="slideshow">
        <div id="slideCase"></div>
    </div>

    <div class="menu-container">
        <a class="btnHeaderFirst" ng-click="pathTo('cityguides')" ng-mouseenter="arrowMouseOver('arrow-brown-first')"
           ng-mouseleave="arrowMouseOut('arrow-brown-first')">
            <div class="arrow-brown-first"></div>
            <p html="back_wording"></p></a>
        <a class="btnHeaderThird" ng-click="pathTo('boxset')" ng-mouseenter="arrowMouseOver('arrow-brown-third')"
           ng-mouseleave="arrowMouseOut('arrow-brown-third')">
            <div class="arrow-brown-third"></div>
            <p html="box_set_wording"></p></a>
    </div>

</div>

