<div view-book id="view_book" class="view-book">





<div class="book-container" anim-arrow>

    <div class="menu-container">
        <a class="btnHeaderFirst" ng-click="pathTo('cityguides')"  ng-mouseenter="arrowMouseOver('arrow-brown-first')" ng-mouseleave="arrowMouseOut('arrow-brown-first')"><div class="arrow-brown-first"></div><p>RETURN TO THE COLLECTION</p></a>
        <a class="btnHeaderSecond" ng-click="pathTo('exceptionalcase')" ng-mouseenter="arrowMouseOver('arrow-brown-second')" ng-mouseleave="arrowMouseOut('arrow-brown-second')"><div class="arrow-brown-second"></div><p>EXCEPTIONAL CASE <br/> OF ALL CITIES</p></a>
        <a class="btnHeaderThird" ng-click="pathTo('boxset')" ng-mouseenter="arrowMouseOver('arrow-brown-third')" ng-mouseleave="arrowMouseOut('arrow-brown-third')"><div class="arrow-brown-third"></div><p>BOX SET WITH A CHOISE <br/> OF 5 CITIES</p></a>
    </div>



    <div class="content-book">




        <div class="title-book">
        <h1 style="color: rgb(239, 48, 70);"><span>BEIJING</span></h1>
        </div>



        <p class="description">A capital of strong contrasts, between peace and turmoil. Today's architectural marvels sprout alongside landmarks dating back as much as three millennia. Phenomenal economic growth in recent years sets this city's rhythm and energy, creating an urban landscape in a constant process of becoming. <br><br>Authors: Paul Duncun, Patrick Farrell, Nadine Rubin Nathan <br>Photographer: Alain Willaume <br>Guest: Beezy Bailey</p>




<div class="li-container">
        <li class="li-book" >


            <a class="link-book" ng-click="pathTo('boxset')">
            <img src="../deploy/deploy/assets/images/cities/beijing/cta.jpg">
            </a>

               <a class="btnHeaderFourth" ng-click="pathTo('boxset')" ng-mouseenter="arrowMouseOver('arrow-brown-fourth')" ng-mouseleave="arrowMouseOut('arrow-brown-fourth')"><div class="arrow-brown-fourth"></div>

                   <p>MORE DETAILS</p>
               </a>
        </li>



    <li class="li-video">
            <a class="link-video" ng-click="pathTo('boxset')">
            <img src="../deploy/deploy/assets/images/cities/hong-kong/video.jpg">
            </a>

        <br/>
        <a class="btnHeaderFifth" ng-click="pathTo('boxset')" ng-mouseenter="arrowMouseOver('arrow-brown-fifth')" ng-mouseleave="arrowMouseOut('arrow-brown-fifth')"><div class="arrow-brown-fifth"></div>

            <p>MORE DETAILS</p>
        </a>
    </li>


</div>



    </div>




</div>





<div class="slideshow">


        <div id="slide1" class="slide"></div>
        <div id="slide2" class="slide"></div>
        <div id="slide3" class="slide"></div>
        <div id="slide4" class="slide"></div>

    <figure class="tint"></figure>

</div>





</div>

