//
// View cityguides
//
$globalPadding : 15;
$baseFontColor : #4f332e;


.view-cityguides
{


  background-color: #f7f7f7;


  #head {
    padding: 40px;
    max-width: 560px;
    margin: 0 auto;
  }


  #logo {
    font-size: 35px;
    font-family: "FuturaPTHeavy-Reg", sans-serif;
    font-size: 21px;
    text-align: center;
    margin: 15px auto;
    color: $baseFontColor;
  }



  .description {
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-size: 14px;
    text-align: center;
    margin: 15px auto;
    color: $baseFontColor;
  }

  #pdf {
    position: relative;
    left: 50%;
    //margin: $globalPadding auto;
    opacity: 1;
    color: white;
    background-color: $baseFontColor ;
    -ms-transform: translate(-50%,0); /* IE 9 */
    -webkit-transform: translate(-50%,0); /* Safari */
    transform: translate(-50%,0);
    //margin-bottom: 0;
    //margin: 0;


  }



  .arrow-white, .arrow-white-pdf {
    position: absolute;
    left: 8%;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
    margin-right: 5px;
    margin-top: 4px;
    pointer-events: none;


  }

  .arrow-brown , .arrow-brown-first , .arrow-brown-second{
    position: relative;
    float: left;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid $baseFontColor;
    margin-right: 5px;
    margin-top: 4px;
    pointer-events: none;

  }



  a {
    font-family: "LouisVuitton-N", sans-serif;
    font-size: 12px;
    //font-weight: bold;
    //margin: 0;
    //padding-right: 10px;
    //padding-top: 5px;
    //padding-bottom: 5px;
    //padding-left: 10px;
    //pointer-events: none;



    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 120px;
      font-weight: bold;
      pointer-events: none;

    }



  }

  .btnHeaderFirst{
    position: absolute;
    left: 10px;
    width: 120px;
    background-color: white;
    top: 55px;
    cursor: pointer;

    .phone & {
     // position: relative;
     // vertical-align: bottom;
    }

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 120px;
      font-weight: normal;
      font-size: 13px;
      pointer-events: none;


    }

  }

  .btnHeaderSecond{
    position: absolute;
    left: 10px;
    width: 150px;
    background-color: white;
    top: 90px;
    cursor: pointer;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 150px;
      font-weight: normal;
      font-size: 13px;

    }

  }




.book-container {
  margin-left: 20px;
  //margin-left: 10%;
  margin-top: 0;
  }


.coverflow {

  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  left: 0;
  margin-right: 10px;





  li {
    width: 120px;
    padding: 3.75px 7.5px;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;





    img {
      display: block;
      width: auto;
      max-height: 120px;
      padding-right: 20px;
      margin: 0 auto;
      cursor: pointer;
    }
    .city {
      display: block;
      margin: 0 auto 15px auto;
      min-height: 35px;
      font-family: "FuturaPTHeavy-Reg", sans-serif;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }

  }

}

///////  Mobile CSS  &.phone
  .phone & {

    .header-btn {
      position: relative;
      height: 150px;

    }

    .btnHeaderFirst , .btnHeaderSecond {
      padding-left: 10px;


    }





  }   // end .phone &
/// End Mobile CSS













}


