//
// View Home
//

.view-home
{

  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;


  .skip-btn {
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: 20px;
  }

  .skip-btn p{
    color: white;
  }

}


.view-video
{
  position: static;
  top: initial;
  left: initial;
  width: 100%;
  height: auto;
  color: black;
  background-color: black;

}
