//
//   View Book
//


.view-book {

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;




  .book-container {
    position: absolute;
    width: 50%;
    height: 100%;
    left:0;
    background-color: #f7f7f7;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 50%;
      top:50%;
    }





    .content-book {
      position: relative;
      width: 500px;
      height: 500px;
      background-image: red;
    }






  }


  .slideshow {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-size:contain;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 50%;
      top:0;
      padding-top: -50px;
    }


    #slide1 {

      background: url("http://localhost/Fabien/city/deploy/deploy/assets/images/cities/beijing/032105h.jpg") ;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;


    }

    #slide2 {

      background: url("http://localhost/Fabien/city/deploy/deploy/assets/images/cities/beijing/032106h.jpg") ;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;


    }

    #slide3 {

      background: url("http://localhost/Fabien/city/deploy/deploy/assets/images/cities/beijing/032107h.jpg") ;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;


    }

    #slide4 {

      background: url("http://localhost/Fabien/city/deploy/deploy/assets/images/cities/beijing/032109h.jpg") ;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;


    }

  }



  .arrow-brown , .arrow-brown-first , .arrow-brown-second, .arrow-brown-third{
    position: relative;
    float: left;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid $baseFontColor;
    margin-right: 5px;
    margin-top: 4px;
    pointer-events: none;

  }


  .arrow-brown-first ,{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);

  }



  .btnHeaderFirst{
    position: absolute;
    left: 10px;
    width: 120px;
    background-color: white;
    top: 55px;
    cursor: pointer;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 120px;
      font-weight: normal;
      font-size: 13px;
      pointer-events: none;


    }

  }

  .btnHeaderSecond{
    position: absolute;
    left: 10px;
    width: 150px;
    background-color: white;
    top: 100px;
    cursor: pointer;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 150px;
      font-weight: normal;
      font-size: 13px;

    }
  }

  .btnHeaderThird {
    position: absolute;
    left: 10px;
    width: 150px;
    background-color: white;
    top: 150px;
    cursor: pointer;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 150px;
      font-weight: normal;
      font-size: 13px;

    }
  }









}


.page #animationContent {
  @media screen and (max-width: 768px) {
    padding-top: 0px ;
    padding-bottom: 0;
  }
}


.slide {
  position: absolute;

}

.slide:nth-child(1) {
  -webkit-animation: fade 24s 18s infinite;
  z-index:100;
}

.slide:nth-child(2) {
  -webkit-animation: fade 24s 12s infinite;
  z-index:100;
}

.slide:nth-child(3) {
  -webkit-animation: fade 24s 6s infinite;
  z-index:100;
}

.slide:nth-child(4) {
  -webkit-animation: fade 24s 0s infinite;
  z-index:100;
}

@-webkit-keyframes fade {
  0%{
    opacity: 1;
  }
  15% {
    opacity:1;
  }
  25%{
    opacity: 0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


