//
//   View Book
//


.view-book {

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;



  .book-container {
    position: absolute;
    width: 50%;
    height: 100%;
    left:0%;
    background-color: #f7f7f7;


  }



  .content-book {
    position: relative;
    width: 80%;
    margin-left: 10%;
    top: 20%;
    text-align: left;
    background-color: #f7f7f7;




    h1 {
      font-family: "FuturaPTHeavy-Reg", sans-serif;
      font-size: 32px;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
      color: #4f332e;



      span {
        position: relative;
        margin: 0 ;
        width: 50px;
        height: 50px;
        background: url("../../../assets/images/common/badge.png");
        background-size: 50px 50px;
        background-repeat: no-repeat;

      }
      .tl {
        position: relative;
        background-position: left;
        padding-top: 80px;
      }
      .tr {
        position: relative;
        background-position: right;
        padding-top: 80px;
      }
      .bl {
        position: relative;
        background-position: left;
        padding-bottom: 80px;
      }
      .br {
        position: relative;
        background-position: right;
        padding-bottom: 80px;
      }
      .t {
        position: relative;
        background-position: center;
        padding-top: 80px;
      }
      .b {
        position: relative;
        background-position: center;
        padding-bottom: 80px;
      }


    }

    p {
      position: relative;
      //margin-bottom: 20px;
      font-family: "LouisVuitton-N", sans-serif;
      font-size: 14px;
      line-height: 18px;
    }



    .title-book {
      position: relative;
      margin-top: 50px;
      margin-bottom: 50px;
    }


    .description {
      position: relative;

    }


  }



  .slideshow {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    background-size:contain;
    cursor: none;



  }



  .arrow-brown , .arrow-brown-first , .arrow-brown-second, .arrow-brown-third, .arrow-brown-fourth, .arrow-brown-fifth{
    position: relative;
    float: left;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid $baseFontColor;
    margin-right: 5px;
    margin-top: 4px;
    pointer-events: none;


  }

  .arrow-brown-fourth {
    position: relative;
    margin-top: 103px;
    //float: left;
    cursor: pointer;
  }

  .arrow-brown-fifth {
    margin-left: 15px;
    cursor: pointer;
  }



  .arrow-brown-first ,{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);

  }



  .btnHeaderFirst{
    position: absolute;
    left: 10px;
    width: 120px;
    background-color: white;
    opacity: 0.7;
    top: 15px;
    cursor: pointer;
    padding-left: 5px;


    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 120px;
      font-weight: normal;
      font-size: 13px;
      pointer-events: none;


    }


  }




  .btnHeaderSecond{
    position: absolute;
    left: 10px;
    width: 150px;
    background-color: white;
    opacity: 0.7;
    top: 50px;
    cursor: pointer;
    padding-left: 5px;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 150px;
      font-weight: normal;
      font-size: 13px;

    }
  }

  .btnHeaderThird {
    position: absolute;
    left: 10px;
    width: 150px;
    background-color: white;
    opacity: 0.7;
    top: 85px;
    cursor: pointer;
    padding-left: 5px;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 150px;
      font-weight: normal;
      font-size: 13px;

    }


  }


  .btnHeaderFourth {
    position: relative;
    left: 10px;
    width: 150px;
    cursor: pointer;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 150px;
      font-weight: normal;
      font-size: 13px;

    }
  }


  .btnHeaderFifth {

    cursor: pointer;

    p {


    }
  }



  .btnHeaderFirst:hover, .btnHeaderSecond:hover, .btnHeaderThird:hover{
    opacity: 1;
    transition: all 0.5s ease 0s;
  }




  .tint {
    position: absolute;
    //z-index: 150;
    float: left;
    height: 100%;
    width: 100%;
    margin: 0px;
    cursor: auto;
  }



  .li-container {
    position: absolute;
    width: 100%;
    margin-top: 20px;
  }

  .li-book {
    float: left;
    cursor: pointer;
  }
  .li-video {
    float: left;
    cursor: pointer;

    img {
      margin-left: 15px;
    }

  }





  ///////  Mobile CSS  &.phone
  .phone & {

    .book-container {
      position: absolute;
      width: 100%;
      height: 60%;
      top: 40%;
      left:0%;
      background-color: #f7f7f7;
      margin-top: 0px;
      margin-bottom: 50px;
    }

    .slideshow {
      position: absolute;
      width: 100%;
      height: 40%;
      left: 0%;
      background-size:contain;
      cursor: none;
    }

    .content-book {
      top: 2%;
      width: 90%;
      margin-left: 5%;
    }

    .title-book {
      margin-top: 50px;
    }

    h1 {
    margin-top: 50px;
    }

    .btnHeaderSecond , .btnHeaderThird {
      opacity: 0;
    }






    }   // end .phone &
  /// End Mobile CSS












}



.slide {
  position: absolute;

}


#slide2, #slide3, #slide4, #slide5, #slide6, #slide7, #slide8, .tint{
  opacity: 0;
}



