//
//   View Book
//


.view-book {

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;




  .book-container {
    position: absolute;
    width: 50%;
    height: 100%;
    left:0%;
    background-color: #f7f7f7;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 60%;
      top:40%;
    }

  }



  .content-book {
    position: relative;
    width: 80%;
    margin-left: 10%;
    top: 30%;
    text-align: left;




    h1 {
      font-family: "FuturaPTHeavy-Reg", sans-serif;
      font-size: 32px;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
      color: #4f332e;
      margin-right: 20%;


      span {
        position: absolute;
        width: 50px;
        height: 50px;
        background: url("../../../assets/images/common/badge.png");
        background-size: 50px 50px;
        background-position: top;
        background-repeat: no-repeat;
        padding-top: 50px;
        background-position: top;

      }


    }

    p {
      position: relative;
      margin-bottom: 20px;
      font-family: "LouisVuitton-N", sans-serif;
      font-size: 14px;
      line-height: 18px;
    }



    .title-book {
      position: relative;
      width: 100%;
      height: 80px;
      margin-bottom: 25px;
    }





  }







  .slideshow {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    background-size:contain;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 40%;
      top:0;
      padding-top: -50px;
    }


    #slide1 {

      //background: url("../../../assets/images/cities/beijing/032105h.jpg") ;
     // position: absolute;
     // width: 100%;
     // height: 100%;
     // background-size: cover;
     // background-repeat: no-repeat;
      //background-position: center;


    }

    #slide2 {

      //background: url("../../../assets/images/cities/beijing/032106h.jpg") ;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;


    }

    #slide3 {

      //background: url("../../../assets/images/cities/beijing/032107h.jpg") ;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;


    }

    #slide4, #slide5, #slide6, #slide7, #slide8 {

      //background: url("../../../assets/images/cities/beijing/032109h.jpg") ;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;


    }

  }



  .arrow-brown , .arrow-brown-first , .arrow-brown-second, .arrow-brown-third, .arrow-brown-fourth, .arrow-brown-fifth{
    position: relative;
    float: left;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid $baseFontColor;
    margin-right: 5px;
    margin-top: 4px;
    pointer-events: none;


  }

  .arrow-brown-fourth {
    margin-top: 5px;
    float: left;
    cursor: pointer;
  }

  .arrow-brown-fifth {
    margin-left: 15px;
    cursor: pointer;
  }



  .arrow-brown-first ,{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);

  }



  .btnHeaderFirst{
    position: absolute;
    left: 10px;
    width: 120px;
    background-color: white;
    opacity: 0.7;
    top: 55px;
    cursor: pointer;
    padding-left: 5px;



    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 120px;
      font-weight: normal;
      font-size: 13px;
      pointer-events: none;


    }


  }




  .btnHeaderSecond{
    position: absolute;
    left: 10px;
    width: 150px;
    background-color: white;
    opacity: 0.7;
    top: 90px;
    cursor: pointer;
    padding-left: 5px;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 150px;
      font-weight: normal;
      font-size: 13px;

    }
  }

  .btnHeaderThird {
    position: absolute;
    left: 10px;
    width: 150px;
    background-color: white;
    opacity: 0.7;
    top: 125px;
    cursor: pointer;
    padding-left: 5px;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 150px;
      font-weight: normal;
      font-size: 13px;

    }


  }


  .btnHeaderFourth {
    position: absolute;
    left: 10px;
    width: 150px;
    cursor: pointer;

    p {
      position: relative;
      margin: 0;
      padding: 0;
      width: 150px;
      font-weight: normal;
      font-size: 13px;

    }
  }


  .btnHeaderFifth {

    cursor: pointer;

    p {


    }
  }



  .btnHeaderFirst:hover, .btnHeaderSecond:hover, .btnHeaderThird:hover{
    opacity: 1;
    transition: all 0.5s ease 0s;
  }




  .tint {
    position: absolute;
    //z-index: 150;
    float: left;
    height: 100%;
    width: 100%;
    margin: 0px;
    cursor: pointer;
    //background: rgba(239,48,70, 0.3);
     //transition: all 0s linear;
    -webkit-animation: fade 6s infinite;
    animation-delay: -0.5s;
  }



  .li-container {
    position: absolute;
    width: 100%;
  }

  .li-book {
    float: left;
    cursor: pointer;
  }
  .li-video {
    float: left;
    cursor: pointer;

    img {
      margin-left: 15px;
    }

  }



}


.page #animationContent {
  @media screen and (max-width: 768px) {
    padding-top: 0px ;
    padding-bottom: 0;
  }
}


.slide {
  position: absolute;

}




@-webkit-keyframes fade {
  0%{
    opacity: 1;
  }
  15% {
    opacity:1;
  }
  25%{
    opacity: 0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


