//
// Main CSS
//

//
// Compass imports
//
@import "compass/css3";
@import "compass/css3/user-interface";

//
// Common imports
//
@import "commons/reset";
@import "commons/hack";
@import "commons/paths";
@import "commons/fonts";
@import "commons/mixins";
@import "commons/layout";

//
// Views imports
//
@import "views/shared";
@import "views/view_home";
@import "views/view_cityguides";
@import "views/view_book";
@import "views/view_exceptionalcase";
@import "views/view_boxset";



.page #back-btn
{
  top: 100px;
  /*background-position: 23px 15px;
  background-image: url(http://static.louisvuitton.com/content/dam/lv/online/css/2.15.2.10/images/arrow_left_white.png);
  background-color: transparent;
  color:white;*/
}

