//
// Fonts
//

$base-font: "LouisVuitton-N";
$base-font-light: "LouisVuitton-N-Light";
$base-font-demi: "LouisVuitton-N-Demi";
$base-font-garamond: "GaramondPremrPro-LtDisp";
$base-font-ChocD: "ChocD";
$base-font-EngschriftDIND: "EngschriftDIND";
$base-font-NimbusMonL-Reg: "NimbusMonL-Reg";
$base-font-NimbusMonL-RegObl: "NimbusMonL-RegObl";
$base-font-FuturaPTHeavy-Reg: "FuturaPTHeavy-Reg";
$base-font-GaramondPremrPro-Disp: "GaramondPremrPro-Disp";
$base-font-GaramondPremrPro-ItDisp: "GaramondPremrPro-ItDisp";
$base-font-GaramondPremrPro-LtDisp: "GaramondPremrPro-LtDisp";
$base-font-BetinaScriptBold: "BetinaScriptBold";
$base-font-BetinaScriptLight: "BetinaScriptLight";
$base-font-NimbusMonL-BolObl: "NimbusMonL-BolObl";
$base-font-BetinaScriptNormal: "BetinaScriptNormal";
$base-font-NimbusMonL-Bol: "NimbusMonL-Bol";